$hover_transition: color .50s linear, background-color .50s linear, border-color .50s linear;
$pie_url: url(/PIE-2.0beta1/PIE.htc);
@mixin pie {
  behavior: $pie_url;
}
* {
  margin: 0;
  padding: 0;
  &:hover {
    -o-transition: $hover_transition;
    -webkit-transition: $hover_transition;
    -moz-transition: $hover_transition;
    transition: $hover_transition;
  }
}
body {
  font-family: 'microsoft yahei';
}
a{
  &:visited{
  }
  &:hover{
  }
  &:active{
  }
}
span {display: inline-block;}
hr {
  height: 1px;
  border: none;
  padding: 0;
  margin: 5px;
  clear: both;
}
table, tr, td{
  vertical-align: top;
}
table {
}
input[type=text],input[type=password],input[type=email],textarea{
}
input[type=text],input[type=password],input[type=email]{
  width: 120px;
  height: 24px;
}
textarea {
  width: 100%;
}
::-webkit-input-placeholder {}
::-moz-placeholder {} /* firefox 19+ */
:-ms-input-placeholder {} /* ie */
input:-moz-placeholder {}
/*body*/


/*header&footer*/
header, footer {
    width: 100%;
    clear: both;
}
header {
}
footer {
  text-align:center;
}
/*header&footer*/


/*container*/
#container {
  overflow: hidden;
}
#side, #content {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}
#side {
  width: 240px;
}
#content {
}
/*container*/

/*side*/
#side ul a {
}
#side ul li {
}
#side ul li.current, #side ul li:hover {
}
#face {
  width: 200px;
  height: 200px;
}
#music_player {
}
/*side*/


/*content*/
#notice {
  padding: 20px;
}
#filters {
  float: left;
  width: 240px;
}
#categories, #tags {
  .title {
    padding: 3px;
    float: right;
  }
  .current {
    font-weight: bolder;
  }
}
#categories {
  ul {
    list-style-type: none;
  }
}
#tags {
  text-align: center;
}
#keyword {
  margin: 20px;
  padding: 15px 5px;
  text-align: center;
}
#content h1 {
  margin: 0px;
}
#canvas_body {
  margin: 0 20px;
}
#entries {
  float: left;
}
#not_found {
  padding: 200px 20px;
  text-align: center;
  width: 450px;
}
.block {
}
.block.entry {
  width: 470px;
  padding: 10px 10px 0;
  margin: 20px 0;
}
.block.title {
  margin: 20px 0;
  width: 470px;
  padding: 10px;
  .data {
    font-size: 12px;
    float: right;
  }
}
.block.content {
  margin: 20px 0;
  width: 470px;
  padding: 10px;
}
.article, .comments {
}
.comments {
  font-size: 12px;
}
.comment_error_msg {
}
.entry_links {
  font-size: 11px;
  padding: 10px 0;
}
#logs_info {
  font-size: 14px;
  margin-bottom: 20px;
}
#filter_info, #total_info {
  float: left;
  margin-right:12px;
}
.pagination {
  float: right;
}
/*content*/


/*classes*/
.btn {
  &:hover{
  }
}
.block {
  a {
    &:visited{
    }
    &:hover{
    }
    &:active{
    }
  }
}
.margintb { margin: 5px 0; }
.left  { float: left; }
.right { float: right; }
.clear { clear: both; }
.loading {
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white url('/img/loading.gif') 50% 50% no-repeat;
  filter: alpha(opacity=80);
  opacity: 0.7;
}
.keyword {
}
.mini {
  cursor: url('/img/zoomInCursor.png'), pointer;
}
.thumb {
  cursor: url('/img/zoomOutCursor.png'), pointer;
}

/*classes*/


/*comments*/
.comment {
}
.comment_username {
  float: left;
}
.comment_datetime {
  float: right;
}
.comment_body {
  clear: both;
}
.comment_content {
  width: 400px;
  margin-left: 5px;
}

.error_explanation ul,.error_explanation ul li {
}
/*comments*/

/*debugs*/
#ClCache {
  display: none;
}

#ds-reset .ds-avatar img {
  width: 54px !important;
  height: 54px !important;
  -webkit-border-radius: 27px !important;
  -moz-border-radius: 27px !important;
  border-radius: 27px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}