@import "common";
body {
}
a{
  &:visited{
  }
  &:hover{
  }
  &:active{
  }
}
span {}
hr {
}
table, tr, td{
}
table {
}
input[type=text],input[type=password],input[type=email],textarea{
}
input[type=text],input[type=password],input[type=email]{
}
textarea {
}
::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder,input:-moz-placeholder {}
/*body*/


/*header&footer*/
header, footer {
}
header {
  height: 30px;
  padding: 5px 20px;
}
footer {
}
/*header&footer*/


/*container*/
#container {
  width: 950px;
  margin: 0 auto;
}
#side, #content {
  float: left;
}
#side {
}
#content {
  width: 710px;
  padding-top: 20px;
}
/*container*/


/*side*/
#side ul a {
}
#side ul li {
}
#side ul li.current, #side ul li:hover {
}
#face {
  margin: 20px;
}
#music_player {
  padding: 0;
  text-align: center;
  margin: 20px 19px;
}
/*side*/


/*content*/
#notice {
  width: 690px;
}
#filters {
}
#categories, #tags {
  .title {
  }
  .current {
  }
}
#categories {
  margin: 20px;
  padding: 0 10px;
  ul {
  }
}
#tags {
  margin: 20px;
  padding: 0 10px 10px;
}
#keyword {}
#entries {
  width: 470px;
}
#not_found {
}
.block {
}
.block.entry {
}
.block.title {
}
.block.content {
}
.article, .comments {
}
.comments {
}
.comment_error_msg {
}
.entry_links {
}
#logs_info {
  width: 470px;
}
#filter_info, #total_info {
}
.pagination {
}
/*content*/


/*comments*/
.comment {
  padding: 5px;
  margin: 5px 0;
}
.comment_username {
}
.comment_datetime {
}
.comment_body {
}
.comment_content {
}

.error_explanation ul,.error_explanation ul li {
}
/*comments*/