@import "common";
html {
    width: 100%;
}
body {
    width: 100%;
}
a{
  &:visited{
  }
  &:hover{
  }
  &:active{
  }
}
span {}
hr {
}
table, tr, td{
}
table {
}
input[type=text],input[type=password],input[type=email],textarea{
  &:focus{
  }
}
input[type=text],input[type=password],input[type=email]{
}
textarea {
}
::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder,input:-moz-placeholder {}
/*body*/


/*header&footer*/
header, footer {
    display: block;
    vertical-align: bottom;
}
header {
  height: 20px;
}
footer {
}
/*header&footer*/


/*container*/
#container {
    width: 100%;
  min-width: 1000px;
}
#side, #content {
  min-height: 600px;
  padding-top: 20px;
}
#side {
    float: left;
}
#content {
    margin-left: 240px;
    padding-left: 20px;
}
/*container*/


/*side*/
#side ul a {
}
#side ul li {
}
#side ul li.current, #side ul li:hover {
}
#face {
    margin: 0 20px 20px;
}
#music_player {
  margin: 20px;
}
/*side*/


/*content*/
#notice {
  width: 670px;
}
#filters {
}
#calendar {
  margin: 0 20px;
  padding: 20px 0;
  table {
    width: 200px;
    text-align: center;
  }
}
#categories, #tags {
  margin: 20px;
  padding: 0 10px 10px;
  .title {
  }
  .current {
  }
}
#categories {
  ul {
  }
}
#tags {
}
#keyword {}
#entries {
}
#not_found {
}
.block {
}
.block.entry {
}
.block.title {
}
.block.content {
}
.article, .comments {
  padding: 0 0 20px;
  display: none;
  clear: both;
}
.comments {
}
.comment_error_msg {
}
.entry_links {
}
#logs_info {
}
#filter_info, #total_info {
}
.pagination {
}
/*content*/


/*comments*/
.comment {
}
.comment_username {
}
.comment_datetime {
}
.comment_body {
}
.comment_content {
}
/*comments*/