@import "fixed";

$yellow: #e7c547;
$pink: #d54e53;
$purple: #c397d8;
$grey: #3f312b;
$green: #6e7955;
$lemon: #b9ca4a;
$red: #f33;
$orange: #e78c45;
$block_radius: 5px;
$background-color: black;
$left_background: #000;
$right_background: #000;
$font_color: $yellow;
$link_color: $lemon;
body {
  color: $font_color;
  background-color: $background-color;
}
a{
  color: $link_color;
  &:visited{
    color: $link_color;
  }
  &:hover{
    color: $link_color;
  }
  &:active{
    color: $link_color;
  }
}
span {display: inline-block;}
hr {
  border-top: 1px dashed $pink;
}
input[type=text],input[type=password],input[type=email],textarea{
  @include pie;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 0px solid $yellow;
  background-color: rgba(213, 78, 83, 0.5);
  color: $yellow;
  margin: 0;
  padding: 5px;
  &:focus{
    @include pie;
    transition: border linear .2s,box-shadow linear .5s;
    -moz-transition: border linear .2s,-moz-box-shadow linear .5s;
    -o-transition: border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .5s;
    outline: none;
    border-color: $pink;
    box-shadow: 0 0 12px $pink;
    -moz-box-shadow: 0 0 12px $pink;
    -o-box-shadow: 0 0 12px $pink;
    -webkit-box-shadow: 0 0 12px $pink;
  }
}
input[type=text],input[type=password],input[type=email]{
}
textarea {
  margin: 5px 0;
}
::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder,input:-moz-placeholder { color: black; }
/*body*/


/*header&footer*/
header, footer {
  border-color: $pink;
  border-style: dashed;
}
header {
  border-radius: 0 0 20px 20px;
  border-width: 0 1px 1px 1px;
  @include pie;
}
header a, footer a {
  color: $yellow;
  &:visited{
    color: $yellow;
  }
  &:hover{
    color: $purple;
  }
  &:active{
    color: $yellow;
  }
}
footer {
  border-radius: 20px 20px 0 0;
  @include pie;
  border-width: 1px 1px 0 1px;
}
/*header&footer*/


/*container*/
#container {
}
#side, #content {
}
#side {
}
#content {
}
/*container*/


/*side*/
#side ul {
  margin: 0;
}
#side ul a {
  color: $yellow;
  text-decoration: none;
}
#side ul li {
  /*background-image: url(/img/side_btn.png);
  /*opacity:.7;
  -moz-opacity:.7;
  /*filter:alpha(opacity=70); /*IE*/
  color: $pink;
  text-align: center;
  width: 200px;
  list-style-type: none;
  margin: 10px 20px;
  padding: 9px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  @include pie;
  border: 1px dotted $pink;
  &:hover {
    color: $purple;
    border-color: $purple;
  }
  &.current {
    color: $yellow;
    border-color: $yellow;
    &:hover {
      color: $purple;
      border-color: $purple;
    }
  }
}
#face {
}
#music_player {
  padding: 0;
  border: 1px dotted $lemon;
  text-align: center;
  margin: 20px 19px;
}
/*side*/


/*content*/
#notice {
  color: $yellow;
}
#filters {
}
#calendar {
  margin: 0 20px;
  padding: 10px 0;
  /*border: 1px solid #000;*/
  table {
    width: 200px;
    text-align: center;
    color: $yellow;
    td, th {
      text-align: center;
    }
  }
  table.calendar {
    a {
      color: $red;
      &:visited{
        color: $red;
      }
      &:hover{
        color: $red;
      }
      &:active{
        color: $red;
      }
    }
  }
  .sun {
    color: $pink;
  }
  .sat {
    color: $lemon;
  }
}
#categories, #tags {
  .title {
    color: $lemon;
  }
  .current {
  }
}
#categories {
}
#tags {
}
#keyword {
}
#content h1 {
  margin: 0px;
}
#canvas_body {
  margin: 0 20px;
}
#entries {
  float: left;
}
#not_found {
  color: $pink;
}
.block {
  border: 1px dashed $pink;
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;

  @include pie;
  color: $pink;
  a {
    color: $yellow;
    &:visited{
      color: $yellow;
    }
    &:hover{
      color: $lemon;
    }
    &:active{
      color: $lemon;
    }
  }

  &:hover {
    border-color: $purple;
  }
}
.block.entry {
  color: $lemon;
}
.block.title {
  color: $lemon;
  .data {
    color: $pink;
  }
}
.block.content {
  color: $yellow;
}
.article, .comments {
}
.comments {
}
.comment_error_msg {
  color: $pink;
}
.entry_links {
  color: $pink;
}
#logs_info {
}
#filter_info, #total_info {
}
.pagination {
}
/*content*/


/*classes*/
.btn {
  color: black;
  background-color: rgba(195,151,216,0.5);
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: none;
  height: 24px;
  width: 40px;
  padding: 0;
  vertical-align: baseline;
  @include pie;
  &:hover{
    color: $yellow;
  }
}
.keyword {
  color: $red;
}
.mini {
}
.thumb {
}

/*classes*/


/*comments*/
.comment {
  background-color: rgba(63,49,43,0.5);
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;
  @include pie;
  color: $yellow;
  a {
    color: $pink;
    &:hover {
      color: $red;
    }
    &:active {
      color: $red;
    }
    &:visited {
      color: $pink;
    }
  }
}
.comment_username {
}
.comment_datetime {
}
.comment_body {
}
.comment_content {
}

.error_explanation ul,.error_explanation ul li {
  color: $pink;
}
/*comments*/