$yellow: #e7c547;
$pink: #d54e53;
$purple: #c397d8;
$grey: #3f312b;
$green: #6e7955;
$lemon: #b9ca4a;
$red: #f33;
$orange: #e78c45;
$block_radius: 5px;
$hover_transition: color .50s linear, background-color .50s linear, border-color .50s linear;
$pie_url: url(/PIE-2.0beta1/PIE.htc);

$background-color: black;
$left_background: #000;
$right_background: #000;
$font_color: $yellow;
$link_color: $lemon;

@mixin pie {
  behavior: $pie_url;//url(/PIE_1.0.0/PIE.htc);
}
* {
  margin: 0;
  padding: 0;
  &:hover {
    -o-transition: $hover_transition;
    -webkit-transition: $hover_transition;
    -moz-transition: $hover_transition;
    transition: $hover_transition;
  }
}
body {
  color: $font_color;
  font-family: 'microsoft yahei';
  background-color: $background-color;
}
a{
  color: $link_color;
  &:visited{
    color: $link_color;
  }
  &:hover{
    color: $link_color;
  }
  &:active{
    color: $link_color;
  }
}
span {display: inline-block;}
hr {
  height: 1px;
  border: none;
  border-top: 1px dashed $pink;
  padding: 0;
  margin: 5px;
}
table, tr, td{
  vertical-align: top;
}
table {
}
input[type=text],input[type=password],input[type=email],textarea{
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 0px solid $yellow;
  background-color: rgba(213, 78, 83, 0.5);
  @include pie;
  color: $yellow;
  margin: 0;
  padding: 5px;
  &:focus{
    transition: border linear .2s,box-shadow linear .5s;
    -moz-transition: border linear .2s,-moz-box-shadow linear .5s;
    -o-transition: border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .5s;
    outline: none;
    border-color: $pink;
    box-shadow: 0 0 12px $pink;
    -moz-box-shadow: 0 0 12px $pink;
    -o-box-shadow: 0 0 12px $pink;
    -webkit-box-shadow: 0 0 12px $pink;
    @include pie;
  }
}
input[type=text],input[type=password],input[type=email]{
  width: 120px;
  height: 24px;
}
textarea {
  width: 100%;
  margin: 5px 0;
}
::-webkit-input-placeholder { color: black; }
::-moz-placeholder { color: black; } /* firefox 19+ */
:-ms-input-placeholder { color: black; } /* ie */
input:-moz-placeholder { color: black; }
/*body*/


/*header&footer*/
header, footer {
  border-color: $pink;
  clear: both;
  width: 100%;
  border-style: dashed;
}
header {
  height: 30px;
  padding: 5px 20px;
  border-radius: 0 0 20px 20px;
  border-width: 0 1px 1px 1px;
  @include pie;
}
header a, footer a {
  color: $yellow;
  &:visited{
    color: $yellow;
  }
  &:hover{
    color: $purple;
  }
  &:active{
    color: $yellow;
  }
}
footer {
  text-align:center;
  //padding-top: 12px;
  border-radius: 20px 20px 0 0;
  @include pie;
  border-width: 1px 1px 0 1px;
}
#footer-wrapper {
 float: left;
 position: relative;
 width: 100%;
 padding-bottom: 9999px;
 margin-bottom: -9999px;
}
p.notice, p.alert {
  color: #000;
  margin: 0;
  width: 100%;
  height: 24px;
  background-color: $yellow;
  clear: both;
}
#login_link {
  float: right;
  font-size: 12px;
}
/*header&footer*/


/*container*/
#container {
  overflow: hidden;
  width: 950px;
  margin: 0 auto;
}
#side, #content {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  min-height: 600px;
  float: left;
}
#side {
  width: 240px;
  //background-color: $pink;
  //background-image: url(/img/bg01.png);
}
#content {
  width: 710px;
  //background-color: $purple;
  padding-top: 20px;
  //background-image: url(/img/bg02.png);
}
/*container*/


/*side*/
#side ul {
  margin: 0;
}
#side ul a {
  color: $yellow;
  text-decoration: none;
}
#side ul li {
  /*background-image: url(/img/side_btn.png);
  /*opacity:.7;
  -moz-opacity:.7;
  /*filter:alpha(opacity=70); /*IE*/
  color: $pink;
  text-align: center;
  width: 200px;
  list-style-type: none;
  margin: 10px 20px;
  padding: 9px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  @include pie;
  border: 1px dotted $pink;
  &:hover {
    color: $purple;
    border-color: $purple;
  }
  &.current {
    color: $yellow;
    border-color: $yellow;
    &:hover {
      color: $purple;
      border-color: $purple;
    }
  }
}
#face {
  margin: 20px;
  border: 0px solid $yellow;
  width: 200px;
  height: 200px;
}
#music_player {
  padding: 0;
  border: 1px dotted $lemon;
  text-align: center;
  margin: 20px 19px;
}
/*side*/


/*content*/
#notice {
  width: 690px;
  padding: 20px;
  margin-bottom: 20px;
  color: $yellow;
}
#filters {
  float: left;
  width: 240px;
}
#calendar {
  margin: 0 20px;
  padding: 10px 0;
  /*border: 1px solid #000;*/
  table {
    width: 200px;
    text-align: center;
    color: $yellow;
    td, th {
      text-align: center;
    }
  }
  table.calendar {
    a {
      color: $red;
      &:visited{
        color: $red;
      }
      &:hover{
        color: $red;
      }
      &:active{
        color: $red;
      }
    }
  }
  .sun {
    color: $pink;
  }
  .sat {
    color: $lemon;
  }
}
#categories {
  margin: 0 20px 20px;
  padding: 15px 5px;
}
#tags {
  margin: 20px;
  padding: 15px 0;
  text-align: center;
}
#keyword {
  margin: 20px;
  padding: 15px 5px;
  text-align: center;
}
#content h1 {
  margin: 0px;
}
#canvas_body {
  margin: 0 20px;
}
#entries {
  float: left;
}
#not_found {
  padding: 200px 20px;
  color: $pink;
  text-align: center;
  width: 450px;
}
.block {
  border: 1px dashed $pink;
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;

  @include pie;
  color: $pink;
  a {
    color: $yellow;
    &:visited{
      color: $yellow;
    }
    &:hover{
      color: $lemon;
    }
    &:active{
      color: $lemon;
    }
  }

  &:hover {
    border-color: $purple;
  }
}
.entry {
  width: 470px;
  padding: 10px 10px 0;
  margin: 0 0 10px;
  color: $lemon;
}
.article, .comments {
  padding: 0 0 10px;
  display: none;
  clear: both;
}
.comments {
  font-size: 12px;
}
.comment_error_msg {
  color: $pink;
}
.entry_links {
  font-size: 11px;
  padding: 10px 0;
  color: $pink;
}
#logs_info {
  font-size: 14px;
  margin-bottom: 20px;
  width: 470px;
}
#filter_info, #total_info {
  float: left;
  margin-right:12px;
}
.pagination {
  float: right;
}
/*content*/


/*classes*/
.btn {
  color: black;
  background-color: rgba(195,151,216,0.5);
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: none;
  height: 24px;
  width: 40px;
  padding: 0;
  vertical-align: baseline;
  @include pie;
  &:hover{
    color: $yellow;
  }
}
.margintb { margin: 5px 0; }
.left  { float: left; }
.right { float: right; }
.clear { clear: both; }
.loading {
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white url('/img/loading.gif') 50% 50% no-repeat;
  filter: alpha(opacity=80);
  opacity: 0.7;
}
.keyword {
  color: $red;
}
.mini {
  cursor: url('/img/zoomInCursor.png'), pointer;
}
.thumb {
  cursor: url('/img/zoomOutCursor.png'), pointer;
}

/*classes*/


/*comments*/
.comment {
  /*border: 1px solid $pink;*/
  background-color: rgba(63,49,43,0.5);
  padding: 5px;
  margin: 5px 0;
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;
  @include pie;
  color: $yellow;
  a {
    color: $pink;
    &:hover {
      color: $red;
    }
    &:active {
      color: $red;
    }
    &:visited {
      color: $pink;
    }
  }
}
.comment_username {
  float: left;
}
.comment_datetime {
  float: right;
}
.comment_body {
  clear: both;
}
.comment_content {
  width: 400px;
  margin-left: 5px;
}

.error_explanation ul,.error_explanation ul li {
  color: $pink;
}
/*comments*/

/*debugs*/
#ClCache {
  display: none;
}