@import "fixed";

$green: #19CAAD;
$blue: #A0EEE1;
$mint: #BEEDC7;
$yellow: #D1BA74;
$light-pink: #ECAD9E;
$deep-pink: #F4606C;
$warm-grey: #E6CEAC;
$cool-grey: #8CC7B5;
$glass: #BEE7E9;
$sand: #D6D5B7;