@import "fluid";
$yellow: #f8b500;
$pink: #a22041;
$purple: #460e44;
$grey: #3f312b;
$green: #6e7955;
$block_radius: 5px;
body {
	color: $yellow;
	background-color: #000;
}
a{
  color: $yellow;
  &:visited{
    color: $yellow;
  }
  &:hover{
    color: $yellow;
  }
  &:active{
    color: $yellow;
  }
}
span {display: inline-block;}
hr {
  border-top: 1px solid #000;
}
table, tr, td{
}
table {
}
input[type=text],input[type=password],input[type=email],textarea{
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  behavior: $pie_url;
  border: 0px solid $yellow;
  background-color: rgba(63,49,43,0.5);
  color: $yellow;
  margin: 0;
  padding: 2px;
  &:focus{
    transition: border linear .2s,box-shadow linear .5s;
    -moz-transition: border linear .2s,-moz-box-shadow linear .5s;
    -o-transition: border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .5s;
    outline: none;
    border-color: $green;
    box-shadow: 0 0 12px $green;
    -moz-box-shadow: 0 0 12px $green;
    -o-box-shadow: 0 0 12px $green;
    -webkit-box-shadow: 0 0 12px $green;
    behavior: $pie_url;
  }
}
input[type=text],input[type=password],input[type=email]{=
}
textarea {
}
::-webkit-input-placeholder { color: $green; }
::-moz-placeholder { color: $green; } /* firefox 19+ */
:-ms-input-placeholder { color: $green; } /* ie */
input:-moz-placeholder { color: $green; }
/*body*/


/*header&footer*/
header, footer {
	background-color: #000;
}
header {
}
footer {
}
/*header&footer*/


/*container*/
#container {
}
#side, #content {
}
#side {
	background-color: $pink;
	background-image: url(/img/bg01.png);
}
#content {
	background-color: $purple;
	background-image: url(/img/bg02.png);
}
/*container*/


/*side*/
#side ul a {
	color: $yellow;
	text-decoration: none;
}
#side ul li {
	height: 20px;
	width: 200px;
	list-style-type: none;
	margin:20px -20px 20px 20px;
	padding: 10px;
  background: #000;
  background: -moz-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: -webkit-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: -ms-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: -o-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: linear-gradient(left, #000, rgba(0,0,0,0.7));
  -pie-background: linear-gradient(left, #000, rgba(0,0,0,0.7));
  behavior: $pie_url;
}
#side ul li.current, #side ul li:hover {
  background: -moz-linear-gradient(left, #000, rgba(0,0,0,0));
  background: -webkit-linear-gradient(left, #000, rgba(0,0,0,0));
  background: -ms-linear-gradient(left, #000, rgba(0,0,0,0));
  background: -o-linear-gradient(left, #000, rgba(0,0,0,0));
  background: linear-gradient(left, #000, rgba(0,0,0,0));
  -pie-background: linear-gradient(left, #000, rgba(0,0,0,0));
  behavior: $pie_url;
}
#face {
	border: 0px solid $yellow;
}
#music_player {
}
/*side*/


/*content*/
#notice {
}
#filters {
}
#calendar {
  table {
    color: $yellow;
  }
}
#categories, #tags {
  .title {
  }
}
#categories {
  ul {
  }
}
#tags {
}
#keyword {
}
#content h1 {
}
#canvas_body {
	margin: 0 20px;
}
#entries {
  float: left;
}
#not_found {
  color: $pink;
}
.block.entry {
}
.block.title {
}
.block.content {
}
.article, .comments {
}
.comments {
}
.comment_error_msg {
  color: $pink;
}
.entry_links {
}
#logs_info {
}
#filter_info, #total_info {
}
.pagination {
}
/*content*/


/*classes*/
.btn {
  background-color: $green;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  behavior: $pie_url;
  border: none;
  height: 24px;
  width: 40px;
  &:hover{
    color: $grey;
  }
}
.block {
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  -pie-background-color: rgba(0,0,0,0.7);
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;
  behavior: $pie_url;
  
  color: $yellow;
  a {
    color: $pink;
    &:visited{
      color: $pink;
    }
    &:hover{
      color: $purple;
    }
    &:active{
      color: $purple;
    }
  }
}
.margintb {}
/*classes*/
.keyword {
  color: yellow;
}
.mini {
}
.thumb {
}


.comment {
  /*border: 1px solid $pink;*/
  background-color: rgba(63,49,43,0.5);
  padding: 5px;
  margin: 5px 0;
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;
  behavior: $pie_url;
}
.comment_username {
}
.comment_datetime {
}
.comment_body {
}
.comment_content {
}

.error_explanation ul,.error_explanation ul li {
  color: $pink;
}