$yellow: #f8b500;
$pink: #a22041;
$purple: #460e44;
$grey: #3f312b;
$green: #6e7955;
$block_radius: 5px;
$hover_transition: color .50s linear, background-color .50s linear, border-color .50s linear;
$pie_url: url(/PIE-2.0beta1/PIE.htc);
* {
  margin: 0;
  padding: 0;
  &:hover {
    -o-transition: $hover_transition;
    -webkit-transition: $hover_transition;
    -moz-transition: $hover_transition;
    transition: $hover_transition;
    behavior: $pie_url;
  }
}
html {
	width: 100%;
}
body {
	width: 100%;
	color: $yellow;
	background-color: #000;
  font-family: 'microsoft yahei'；
}
/*::-moz-selection, ::selection {
  background: $pink;
  color: #000;
}*/
a{
  color: $yellow;
  &:visited{
    color: $yellow;
  }
  &:hover{
    color: $yellow;
  }
  &:active{
    color: $yellow;
  }
}
span {display: inline-block;}
hr {
  height: 1px;
  border: none;
  border-top: 1px solid #000;
}
table, tr, td{
  vertical-align: top;
}
table {
}
input[type=text],input[type=password],input[type=email],textarea{
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  behavior: $pie_url;
  border: 0px solid $yellow;
  background-color: rgba(63,49,43,0.5);
  color: $yellow;
  margin: 0;
  padding: 2px;
  &:focus{
    transition: border linear .2s,box-shadow linear .5s;
    -moz-transition: border linear .2s,-moz-box-shadow linear .5s;
    -o-transition: border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .5s;
    outline: none;
    border-color: $green;
    box-shadow: 0 0 12px $green;
    -moz-box-shadow: 0 0 12px $green;
    -o-box-shadow: 0 0 12px $green;
    -webkit-box-shadow: 0 0 12px $green;
    behavior: $pie_url;
  }
}
input[type=text],input[type=password],input[type=email]{
  width: 120px;
  height: 24px;
}
textarea {
  width: 100%;
}
::-webkit-input-placeholder { color: $green; }
::-moz-placeholder { color: $green; } /* firefox 19+ */
:-ms-input-placeholder { color: $green; } /* ie */
input:-moz-placeholder { color: $green; }
/*body*/


/*header&footer*/
header, footer {
	width: 100%;
	background-color: #000;
	clear: both;
	display: block;
	vertical-align: bottom;
}
header {
  height: 20px;
}
footer {
	text-align:center;
  //padding-top: 12px;
}

p.notice, p.alert {
  color: #000;
  margin: 0;
  width: 100%;
  height: 24px;
  background-color: $yellow;
  clear: both;
}
#login_link {
  float: right;
  font-size: 12px;
}
/*header&footer*/


/*container*/
#container {
	width: 100%;
	overflow: hidden;
  min-width: 1000px;
}
#side, #content {
	margin-bottom: -9999px;
	padding-bottom: 9999px;
  min-height: 600px;
  padding-top: 20px;
}
#side {
	width: 240px;
	background-color: $pink;
	float: left;
	background-image: url(/assets/bg01.png);
}
#content {
	margin-left: 240px;
	background-color: $purple;
	padding-left: 20px;
	background-image: url(/assets/bg02.png);
}
/*container*/


/*side*/
#side ul a {
	color: $yellow;
	text-decoration: none;
}
#side ul li {
	/*background-image: url(/assets/side_btn.png);
	/*opacity:.7;
	-moz-opacity:.7;/*火狐*/
	/*filter:alpha(opacity=70); /*IE*/
	height: 20px;
	width: 200px;
	list-style-type: none;
	margin:20px -20px 20px 20px;
	padding: 10px;
  background: #000;
  background: -moz-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: -webkit-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: -ms-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: -o-linear-gradient(left, #000, rgba(0,0,0,0.7));
  background: linear-gradient(left, #000, rgba(0,0,0,0.7));
  -pie-background: linear-gradient(left, #000, rgba(0,0,0,0.7));
  behavior: $pie_url;
/*	border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;*/
}
#side ul li.current, #side ul li:hover {
  background: -moz-linear-gradient(left, #000, rgba(0,0,0,0));
  background: -webkit-linear-gradient(left, #000, rgba(0,0,0,0));
  background: -ms-linear-gradient(left, #000, rgba(0,0,0,0));
  background: -o-linear-gradient(left, #000, rgba(0,0,0,0));
  background: linear-gradient(left, #000, rgba(0,0,0,0));
  -pie-background: linear-gradient(left, #000, rgba(0,0,0,0));
  behavior: $pie_url;
}
#face {
	margin: 0 20px 20px;
	border: 0px solid $yellow;
}
#music_player {
  margin: 40px 20px 20px;
}
/*side*/


/*content*/
#notice {
  width: 670px;
  padding: 20px;
  margin-bottom: 20px;
}
#filters {
  float: left;
  width: 240px;
}
#calendar {
  margin: 0 20px;
  padding: 20px 0;
  /*border: 1px solid #000;*/
  table {
    width: 200px;
    text-align: center;
    color: $yellow;
  }
}
#tags {
  margin: 20px;
  padding: 15px 0;
  text-align: center;
}
#keyword {
  margin: 20px;
  padding: 15px 5px;
  text-align: center;
}
#content h1 {
	margin: 0px 0px 20px;
}
#canvas_body {
	margin: 0 20px;
}
#entries {
  float: left;
}
#not_found {
  padding: 200px 20px;
  color: $pink;
  text-align: center;
  width: 450px;
}
.entry {
  width: 450px;
  padding: 20px 20px 0;
  margin: 0 0 20px;
}
.article, .comments {
  padding: 0 0 20px;
  display: none;
  clear: both;
}
.comments {
  font-size: 12px;
}
.comment_error_msg {
  color: $pink;
}
.entry_links {
  font-size: 11px;
  padding: 10px 0;
}
#logs_info {
  font-size: 14px;
  margin-bottom: 20px;
}
#filter_info, #total_info {
  float: left;
  margin-right:12px;
}
.pagination {
  float: right;
}
/*content*/


/*classes*/
.btn {
  background-color: $green;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  behavior: $pie_url;
  border: none;
  height: 24px;
  width: 40px;
  &:hover{
    color: $grey;
  }
}
.block {
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  -pie-background-color: rgba(0,0,0,0.7);
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;
  behavior: $pie_url;
  
  color: $yellow;
  a {
    color: $pink;
    &:visited{
      color: $pink;
    }
    &:hover{
      color: $purple;
    }
    &:active{
      color: $purple;
    }
  }
}
/*.block:hover {
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.7), #000);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.7), #000);
  background: -ms-linear-gradient(bottom, rgba(0,0,0,0.7), #000);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.7), #000);
  background: linear-gradient(bottom, rgba(0,0,0,0.7), #000 );
}*/
.margintb { margin: 5px 0; }
/*classes*/
.left  { float: left; }
.right { float: right; }
.clear { clear: both; }
.loading {
  overflow: hidden;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: white url('/assets/loading.gif') 50% 50% no-repeat;
  filter: alpha(opacity=80);
  opacity: 0.7;
  behavior: $pie_url;
}
.keyword {
  color: yellow;
}
.mini {
  cursor: url('/assets/zoomInCursor.png'), pointer;
}
.thumb {
  cursor: url('/assets/zoomOutCursor.png'), pointer;
}


.comment {
  /*border: 1px solid $pink;*/
  background-color: rgba(63,49,43,0.5);
  padding: 5px;
  margin: 5px 0;
  border-radius: $block_radius;
  -moz-border-radius: $block_radius;
  -webkit-border-radius: $block_radius;
  -ms-border-radius: $block_radius;
  -o-border-radius: $block_radius;
  behavior: $pie_url;
}
.comment_username {
  float: left;
}
.comment_datetime {
  float: right;
}
.comment_body {
  clear: both;
}
.comment_content {
  width: 400px;
  margin-left: 5px;
}

.error_explanation ul,.error_explanation ul li {
  color: $pink;
}

#crop_avatar_form { display: none; }

/*debugs*/
#ClCache {
  display: none;
}