---
layout: none
permalink: /flowers/
---
<!DOCTYPE html>
<html ng-app="my_routes">
<head>
  {% include head_meta.html %}
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/flowers.css" | prepend: site.baseurl }}">
</head>
<body>
  <div id="container">
    {% include header.html %}

    {% include side.html %}

    <div id="content">
      {% include content.html %}

      {% include filters.html %}
      <div class="clear"></div>
    </div>

    {% include footer.html %}
  </div>
  {% include js.html %}
</body>
</html>