---
layout: none
---
<div class="block title">
    <div class="left">
        {{ page.title }}
    </div>
    <div class="data">
        {% for tag in page.tags %}
        <a>{{ tag }}</a>
        {% endfor %} |
        {{ page.date | date: "%b %-d, %Y" }} |
        <a>评论功能尚未开启</a>
    </div>
    <div class="clear"></div>
</div>

<div class="block content">
    {{ content }}
</div>

<div class="block comments">
    <div class="ds-thread" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl }}"></div>
</div>
<script type="text/javascript"> var duoshuoQuery = {short_name:"dame09"}; (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js'; ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })(); </script>