---
layout: none
---
<div class="block title">
    <div class="left">
        {{ page.title }}
    </div>
    <div class="data">
        {% for tag in page.tags %}
        <a>{{ tag }}</a>
        {% endfor %} |
        {{ page.date | date: "%b %-d, %Y" }} |
        <a>评论功能尚未开启</a>
    </div>
    <div class="clear"></div>
</div>

<div class="block content">
    {{ content }}
</div>

<div class="block comments" ng-controller="duoshuo">
    <h3 ng-show="responseJSON">当前用户数据:</h3>
    <div class="response" ng-bind="responseJSON"></div>
    <div class="threads" ng-repeat="thread in threads">
      <h3 ng-bind="thread.title" ng-show="thread.title !== ''"></h3>
    </div>
    <div duoshuo data-thread-key="{{ page.title }}"></div>
</div>