---
layout: nil
---
<div class="block entry">
    {{ page.title }}
    <div class="entry_links">
        <div class="left">
            <a href="{{ post.url | prepend: '#' }}">阅读全文</a>
        </div>
        <div class="right">
            {% for tag in page.tags %}
            <a>{{ tag }}</a>
            {% endfor %} |
            {{ page.date | date: "%b %-d, %Y" }} |
            评论功能尚未开启
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="block entry">
    {{ content }}
</div>